.MainChatWindow {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 77%;
    width: 100%;
    background-color: white;
    color: black;
    border: grey solid 0.1rem;
    border-radius: 1rem;
}