.SearchResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 95%;
    width: 350px;
    border-radius: 1rem;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: white;
    border: grey solid 0.1rem;
    color: black;
}

.SearchResults h2 {
    border-bottom: 0.1rem solid grey;
    width: 100%;
    text-align: center;
}